<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.permit.permitLogin">
	<select id="getlogin" resultType="map">
		/*登陆查询*/
		select u.*,tpo.* from tb_user as u,tb_personinfo tpo where 1=1 and tpo.persoId = u_id and u.u_loginName=#{uLoginName} and u.u_loginPassword=#{uLoginPassword}
	</select>
	<select id="LoginLacklist" resultType="map">
		/*黑名单查询*/
		select l.* from tb_lacklist as l where 1=1 and l.u_id=#{userid}
	</select>
	<select id="ListTree" resultType="map">
		/*根据用户id获取一级菜单*/
		select tm.* from
		tb_module tm left join tb_permit_role tpr on tm.m_id = tpr.m_id left join tb_role tr on tr.r_id=tpr.r_id
		left join tb_role_user user2 on tr.r_id = user2.r_id left join tb_user user3 on user2.u_id = user3.u_id
		where tm.m_level=0 and user3.u_id=#{userid}
		group by tm.m_id asc;
	</select>
	<select id="ListTrees" resultType="map">
		/*根据一级菜单获取二级菜单*/
		select tm.* from tb_module tm,tb_permit_role tpo,tb_role tr,tb_role_user tru,tb_user tu
		where tm.m_level=#{m_id} and tu.u_id=#{userid} and tm.m_id=tpo.m_id and tpo.r_id=tr.r_id and tr.r_id=tru.r_id and tru.u_id=tu.u_id
		group by tm.m_id asc ;

	</select>
</mapper>