<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.permit.permitManage">
    <!--查询角色-->
    <select id="listRole" resultType="map" >
        select tr.r_id,tr.r_Name,GROUP_CONCAT(tm.m_Name) as m_Name from
        tb_role tr left join tb_permit_role tpr on tr.r_id = tpr.r_id left join tb_module tm on tpr.m_id = tm.m_id
        group by tr.r_id asc;
    </select>
    <!--树形菜单查询-->
    <select id="getModulTrees" resultType="map">
        select tm.m_id as mid,(case when rmid.mid is not null then true else  false  end ) as checked,tm.m_level as mlevel,tm.m_Name as mname,tm.m_url as murl
        from tb_module tm left join
        (select tm.m_id as mid from tb_module tm left join tb_permit_role t on tm.m_id = t.m_id
        left join tb_role t2 on t.r_id = t2.r_id where t.r_id=#{rid})as rmid on tm.m_id=rmid.mid group by tm.m_id asc;
    </select>
    <select id="deletePermit" resultType="Integer" parameterType="int">
        delete from tb_permit_role where r_id=#{rid};
    </select>
    <select id="savePermit" resultType="Integer">
        insert into tb_permit_role(r_id,m_id) value (#{rid},#{mid});
    </select>
    <insert id="saveRole" parameterType="String" >
        insert into tb_role(r_Name) value (#{rname});
    </insert>
    <delete id="deleteRole" parameterType="int">
        delete from tb_role where r_id=#{rid} and r_id!=1;
    </delete>
    <select id="listDept" resultType="map">
        select td.DeptId as DeptId,td.DeptNumber as DeptNumber,td.DeptName as DeptName from tb_deparment td;
    </select>
    <select id="getDept" resultType="map">
        select td.DeptId,td.DeptNumber,td.DeptName from tb_deparment td;
    </select>
    <delete id="deleteDept">
        delete from tb_deparment where DeptId=#{deptid};
    </delete>
    <update id="updateDept" >
        update tb_deparment
        <set>
          ${DeptType} = #{DeptName}
        </set>
        where DeptId = #{DeptId};
    </update>
    <insert id="saveDept">
        insert into tb_deparment(DeptNumber,DeptName) value(#{DeptNumber},#{DeptName});
    </insert>
    <select id="listRoleUser" resultType="map">
        select tu.*,tp.*,tru.*,td.*,tr.* from tb_user tu left join tb_role_user tru on tu.u_id = tru.u_id left join tb_personinfo tp on tu.persoId = tp.persoId left join tb_role tr on tru.r_id = tr.r_id left join tb_deparment td on tu.DeptId = td.DeptId where 1=1
      <if test="personname!=null and personname!=''">
          and tp.PersonName like '%'#{personname}'%';
      </if>
    </select>
    <update id="updateRole" parameterType="com.entity.permit.upRoleUser">
        update tb_user
        <set>
            DeptId = #{deptid},
            u_loginName = #{uloginname},
            u_loginPassword = #{uloginpassword},
            u_locking = #{ulocking}
        </set>
        where u_id = #{uid}
    </update>
    <update id="updateUser" parameterType="com.entity.permit.upRoleUser">
        update tb_role_user
        <set>
            r_id = #{rid}
        </set>
        where ru_id = #{ruid}
    </update>
    <update id="updatelocking">
        update tb_user
        <set>
            u_locking = #{ulocking}
        </set>
        where u_id = #{uid}
    </update>

</mapper>