<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.test.GoodsDao">
	<resultMap type="com.entity.test.tb_Goods" id="getGoods"
		autoMapping="true">
		<id column="goodsId" property="goodsId" />
		<association property="typeId" column="typeId"
			javaType="com.entity.test.tb_Goods_Type" autoMapping="true">
			<id column="typeId" property="typeId" />
		</association>
	</resultMap>
	<select id="gAll" resultMap="getGoods" parameterType="com.entity.test.tb_Goods">
		select g.*,gt.typeName from tb_goods g left join tb_goods_type gt on g.typeId=gt.typeId order by g.goodsId asc
	</select>
	<insert id="saveGoods" parameterType="com.entity.test.tb_Goods">
		insert into tb_goods(goodsName,typeId,goodsDesc,goodsUnitPrice,goodsImageName,sellCount,goodsDate) values(
		#{goodsName},
		#{typeId.typeId},
		#{goodsDesc},
		#{goodsUnitPrice},
		#{goodsImageName},
		#{sellCount},
		#{goodsDate}
		)
	</insert>
</mapper>
