<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.test.Goods_TypeDao">
        <select id="gtAll" resultType="com.entity.test.tb_Goods_Type" >
          select gt.* from tb_goods_type gt
        </select>
</mapper>
