<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.lqp.AHire">
	<select id="findhireall" resultType="map">
		SELECT hire.* FROM tb_hirefile as hire
		<where>
			<if test="empName!=null and empName!=''">
			and  hire.empName like  "%"#{empName}"%"
		</if>
			<if test="enpSex!=null and enpSex!=''">
				and  hire.enpSex like  "%"#{enpSex}"%"
			</if>
			<if test="nation!=null and nation!=''">
				and  hire.Nation like  "%"#{nation}"%"
			</if>
		<!--	<if test="homePlase!=null and homePlase!=''">
				and  hire.homePlase like  "%"#{homePlase}"%"
			</if>-->
			<if test="speciality!=null and speciality!=''">
				and  hire.speciality like  "%"#{speciality}"%"
			</if>
			<if test="scientificName!=null and scientificName!=''">
				and  hire.scientificName like  "%"#{scientificName}"%"
			</if>
			<if test="ministration!=null and ministration!=''">
				and  hire.ministration like  "%"#{ministration}"%"
			</if>

		</where>
		group by hire.empId asc
	</select>
	<insert id="inserthire" parameterType="com.entity.lqp.TbHirefile">
		insert into tb_hirefile(empName,enpSex,birthTime,homePlase,Nation,politics,nodyId,telephone,graduateSchool,speciality,scientificName,graduateTime,homeAddress,post,ministration,ExpectedIndustry,ExpectedOccupation,ExpectedCity,ExpectedSalary,WorkTime,recruitment,specialty,Skill,ProjectExperience,WorkExperience,remark,hireName)
	values(#{empName},#{enpSex},#{birthTime},#{homePlase},#{nation},#{politics},#{nodyId},#{telephone},#{graduateSchool},#{speciality},#{scientificName},#{graduateTime},#{homeAddress},#{post},#{ministration},#{expectedIndustry},#{expectedOccupation},#{expectedCity},#{expectedSalary},#{workTime},#{recruitment},#{specialty},#{skill},#{projectExperience},#{workExperience},#{remark},#{hireName})
</insert>

	<delete id="deletehire" parameterType="com.entity.lqp.TbHirefile">
		delete from tb_hirefile where empID = #{empId}
	</delete>

	<update id="updatehire" parameterType="com.entity.lqp.TbHirefile">
		update tb_hirefile set empName=#{empName},enpSex=#{enpSex},birthTime=#{birthTime},homePlase=#{homePlase},Nation=#{nation},politics=#{politics},nodyId=#{nodyId},telephone=#{telephone},graduateSchool=#{graduateSchool},speciality=#{speciality},scientificName=#{scientificName},graduateTime=#{graduateTime},homeAddress=#{homeAddress},post=#{post},ministration=#{ministration},ExpectedIndustry=#{expectedIndustry}, ExpectedOccupation=#{expectedOccupation},ExpectedCity=#{expectedCity},ExpectedSalary=#{expectedSalary}, WorkTime=#{workTime},recruitment=#{recruitment},specialty=#{specialty},Skill=#{skill}, ProjectExperience=#{projectExperience},WorkExperience=#{workExperience},remark=#{remark},hireName=#{hireName} where empID = #{empId}
	</update>


</mapper>