<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.lqp.APlan">
    <select id="findplanall" resultType="map">
		SELECT plan.*,hire.* FROM tb_recruitmentplan plan,tb_hirefile hire  where
		plan.empId=hire.empId group by plan.PlanID asc
	</select>
   <select id="findplanbyname" resultType="map">
		select hire.empId,hire.empName,hire.specialty from tb_hirefile as hire
	</select>
	<select id="findhirepeople" resultType="com.entity.lqp.TbHirefile">
		select hire.* from tb_hirefile as hire
	</select>
	<select id="findhirepeople1" resultType="com.entity.lqp.TbHirefile">
		select hire.* from tb_hirefile as hire where hire.empId=#{people}
	</select>
	<select id="findpeople" resultType="map">
		SELECT * FROM tb_personinfo WHERE  persoId in (select persoId FROM tb_user WHERE DeptId=#{people})
	</select>
    <select id="findplanthem" resultType="map" parameterType="com.entity.lqp.TbRecruitmentplan">
		select plan.* from tb_recruitmentplan as plan
		<where>
            <if test="planName!=null and planName!=''">
                and  plan.planName like  "%"#{planName}"%"
            </if>
            <!--<if test="approvalStatus!=null and approvalStatus!='' or approvalStatus==0">
                and  plan.approvalStatus = #{approvalStatus}
            </if>-->
        </where>
	</select>
    <insert id="insertplan" parameterType="com.entity.lqp.TbRecruitmentplan">
		insert into tb_recruitmentplan(empID,planName,dictionaryID,startTime,endTime,budget,PlanInstructions,PlanNote,NoteRemind,approvalStatus)
		                          values(#{empId},#{planName},#{dictionaryId},#{startTime},#{endTime},#{budget},#{planInstructions},#{planNote},#{noteRemind},#{approvalStatus})
	</insert>

    <delete id="deleteplan" parameterType="com.entity.lqp.TbRecruitmentplan">
		delete from tb_recruitmentplan where PlanID = #{planId}
	</delete>

    <update id="updatethem" parameterType="com.entity.lqp.TbRecruitmentplan">
		update tb_recruitmentplan set approvalStatus=#{approvalStatus}
		where PlanID = #{planId}
	</update>
	<update id="updateplan" parameterType="com.entity.lqp.TbRecruitmentplan">
		update tb_recruitmentplan set empID=#{empId},planName=#{planName},dictionaryID=#{dictionaryId},startTime=#{startTime},
endTime=#{endTime},budget=#{budget},PlanInstructions=#{planInstructions},PlanNote=#{planNote},NoteRemind=#{noteRemind},approvalStatus=#{approvalStatus}
		where PlanID = #{planId}
	</update>
	<update id="updatepeople" parameterType="com.entity.lqp.TbRecruitmentplan">
		update tb_recruitmentplan set PlanNote=#{planNote}
		where PlanID = #{planId}
	</update>
	<update id="updatepeople1" parameterType="com.entity.lqp.TbRecruitmentplan">
		update tb_recruitmentplan set NoteRemind=#{noteRemind}
		where PlanID = #{planId}
	</update>

</mapper>