<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.yyl.TbDeparmentDao">
    <select id="TbDeparmentQuery" resultType="Map" parameterType="com.entity.yyl.TbDeparment">
        select td.* from tb_deparment td
        <where>
            <if test="deptId!=null and deptId!=''">
                and td.DeptId = #{deptId}
            </if>
            <if test="deptNumber!=null and deptNumber!=''">
                and td.DeptNumber = #{deptNumber}
            </if>
            <if test="deptName!=null and deptName!=''">
                and td.DeptName like "%"#{deptName}"%"
            </if>
        </where>
    </select>
    <select id="TbDeparmentpersonfoQuery" resultType="Map" parameterType="com.entity.yyl.TbDeparment">
        select tp.*,tb.POSIName,td.DeptName from tb_personinfo tp,tb_position tb,tb_deparment td where tp.PosiId = tb.PosiId and tb.DeptId = td.DeptId
        <if test="deptNumber!=null and deptNumber!=''">
            and td.DeptNumber = #{deptNumber}
        </if>
    </select>
    <select id="TbDeparmentpersonfoQuery2" resultType="Map" parameterType="com.entity.yyl.TbDeparment">
        select tp.*,tb.POSIName from tb_personinfo tp,tb_position tb where tp.PosiId = tb.PosiId and tb.DeptId = #{deptId}
    </select>
    <!--查询未签合同人员-->
    <select id="TbDeparmentpersonfo_StaffQuery" resultType="Map" parameterType="com.entity.yyl.TbDeparment">
        select tp.*,tb.POSIName,td.DeptName from tb_personinfo tp,tb_position tb,tb_deparment td where tp.PosiId = tb.PosiId and tb.DeptId = td.DeptId
        and (select count(1) from td_staff ts where tp.persoId = ts.persoId)=0
        <if test="deptNumber!=null and deptNumber!=''">
            and td.DeptNumber = #{deptNumber}
        </if>
    </select>
    <select id="TbDeparmentpersonfo_StaffQuery2" resultType="Map" parameterType="com.entity.yyl.TbDeparment">
        select tp.*,tb.POSIName from tb_personinfo tp,tb_position tb where tp.PosiId = tb.PosiId and tb.DeptId = #{deptId}
        and (select count(1) from td_staff ts where tp.persoId = ts.persoId)=0
    </select>
</mapper>
