<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.yyl.TbInsuranceBaseDao">
    <select id="TbInsuranceBaseQuery" resultType="Map" parameterType="com.entity.yyl.TbInsuranceBase">
        select tib.* from tb_insurance_base tib
    </select>
    <insert id="TbInsuranceBaseAdd" parameterType="com.entity.yyl.TbInsuranceBase">
		insert
		into tb_insurance_base(yanglaoPerson,yanglaoUnits,yiliaoPerson,yiliaoUnits,shiyePerson,shiyeUnits,
							   zhufangPerson,zhufangUnits,gongshangUnits,shengyuUnits)
		values(#{yanglaoPerson},#{yanglaoUnits},#{yiliaoPerson},#{yiliaoUnits},#{shiyePerson},#{shiyeUnits},
			   #{zhufangPerson},#{zhufangUnits},#{gongshangUnits},#{shengyuUnits})
	</insert>
    <update id="TbInsuranceBaseUpdate" parameterType="com.entity.yyl.TbInsuranceBase">
		update tb_insurance_base set yanglaoPerson=#{yanglaoPerson},yanglaoUnits=#{yanglaoUnits},
		yiliaoPerson=#{yiliaoPerson},yiliaoUnits=#{yiliaoUnits},shiyePerson=#{shiyePerson},shiyeUnits=#{shiyeUnits},
		zhufangPerson=#{zhufangPerson},zhufangUnits=#{zhufangUnits},gongshangUnits=#{gongshangUnits},shengyuUnits=#{shengyuUnits}
		where insurbaseId = #{insurbaseId}
	</update>
    <delete id="TbInsuranceBaseDelete" parameterType="int">
		delete from tb_insurance_base where insurbaseId = #{insurbaseId}
	</delete>
</mapper>
