<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.yyl.TbLacklistDao">
    <select id="TbLacklistQuery" resultType="Map" parameterType="com.entity.yyl.TbLacklist">
        select tp.*,tb.POSIName,td.DeptName from tb_personinfo tp,tb_position tb,tb_deparment td,tb_lacklist tl where tp.PosiId = tb.PosiId and tb.DeptId = td.DeptId and tl.u_id = tp.persoId
    </select>
    <insert id="TbLacklistAdd" parameterType="com.entity.yyl.TbLacklist">
		insert into tb_lacklist(u_id)
		values(#{uId})
	</insert>
    <update id="TbLacklistUpdate" parameterType="com.entity.yyl.TbLacklist">
		update tb_lacklist set u_id=#{uId} where l_id = #{lId}
	</update>
    <delete id="TbLacklistDelete" parameterType="int">
		delete from tb_lacklist where u_id = #{lId}
	</delete>
</mapper>
