<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.yyl.TbPersoninfoDao">
    <select id="TbPersoninfoQuery" resultType="Map" parameterType="com.entity.yyl.TbPersoninfo">
        select tp.*,tb.POSIName,td.DeptName from tb_personinfo tp,tb_position tb,tb_deparment td where tp.PosiId = tb.PosiId and tb.DeptId = td.DeptId
            <if test="personName!=null and personName!=''">
                 and tp.PersonName like "%"#{personName}"%"
            </if>
            <if test="persoId!=null and persoId!=''">
                 and tp.persoId = #{persoId}
            </if>
            <if test="posiId!=null and posiId!=''">
                 and tp.PosiId = #{posiId}
            </if><if test="telephone!=null and telephone!=''">
                 and tp.telephone like "%"#{telephone}"%"
            </if>
            <if test="nowAddress!=null and nowAddress!=''">
                 and tp.NowAddress like "%"#{nowAddress}"%"
            </if>
            <if test="nowState==0">
                 and tp.NowState in (0,2)
            </if>
            <if test="nowState==1">
                 and tp.NowState = #{nowState}
            </if>
    </select>
    <select id="TbPersoninfoSelect" resultType="Map">
        select tp.* from tb_personinfo tp where tp.NowState!=1;
    </select>
    <insert id="TbPersoninfoAdd" parameterType="com.entity.yyl.TbPersoninfo">
		insert into tb_personinfo(PersonName,Email,officePhone,PosiId,NowAddress,telephone,remark,NowState,personBirth)
		values(#{personName},#{email},#{officePhone},#{posiId},#{nowAddress},#{telephone},#{remark},#{nowState},#{personBirth})
	</insert>
    <update id="TbPersoninfoUpdate" parameterType="com.entity.yyl.TbPersoninfo">
		update tb_personinfo
        <trim prefix="SET" suffixOverrides=",">
        <if test="nowState!=null and nowState!='' or nowState==0">
            NowState=#{nowState},
        </if>
        <if test="personName!=null and personName!=''">
            PersonName=#{personName},
        </if>
            <if test="email!=null and email!=''">
                Email=#{email},
        </if>
            <if test="officePhone!=null and officePhone!=''">
                officePhone=#{officePhone},
        </if>
            <if test="nowAddress!=null and nowAddress!=''">
                NowAddress=#{nowAddress},
        </if>
            <if test="telephone!=null and telephone!=''">
                telephone=#{telephone},
        </if>
            <if test="personBirth!=null and personBirth!=''">
                personBirth=#{personBirth},
        </if>
        <if test="persoId!=null and persoId!=''">
            PosiId=#{posiId},
        </if>
        </trim>
		where persoId = #{persoId}
	</update>
</mapper>
