<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.yyl.TbPositionDao">
    <select id="TbPositionQuery" resultType="Map" parameterType="com.entity.yyl.TbPosition">
        select tb.* from tb_position tb
        <where>
        <if test="posiId!=null and posiId!=''">
            and tb.PosiId = #{posiId}
        </if>
        <if test="deptId!=0 and deptId!=''">
            and tb.DeptId = #{deptId}
        </if>
        <if test="posiName!=null and posiName!=''">
            and tb.POSIName like "%"#{posiName}"%"
        </if>
        </where>
    </select>
</mapper>
