<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.yyl.TdConfigDao">
    <select id="tdConfigQuery" resultType="Map" >
        select tc.* from td_config tc
    </select>
    <insert id="tdConfigAdd" parameterType="com.entity.yyl.TdConfig">
		insert into td_config(dutyName,dutyTime1,dutyTime2,dutyTime3,dutyTime4,dutyTime5,dutyTime6,dutyBefore,dutyAfter,timeLate,timeEarly)
		values(#{dutyName},#{dutyTime1},#{dutyTime2},#{dutyTime3},#{dutyTime4},#{dutyTime5},#{dutyTime6},#{dutyBefore},#{dutyAfter},#{timeLate},#{timeEarly})
	</insert>
    <update id="tdConfigUpdate" parameterType="com.entity.yyl.TdConfig">
		update td_config set dutyName=#{dutyName},dutyTime1=#{dutyTime1},dutyTime2=#{dutyTime2},dutyTime3=#{dutyTime3},dutyTime4=#{dutyTime4},dutyTime5=#{dutyTime5},
		dutyTime6=#{dutyTime6},dutyBefore=#{dutyBefore},dutyAfter=#{dutyAfter},timeLate=#{timeLate},timeEarly=#{timeEarly} where td_c.dutyType = #{dutyType}
	</update>
    <delete id="tdConfigDelete" parameterType="int">
		delete from td_config where dutyType = #{tc_id}
	</delete>
</mapper>
