<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.yyl.TdScheduleDao">
    <select id="TdScheduleQuery" resultType="Map" >
        select ts.* from td_schedule ts
    </select>
    <insert id="TdScheduleAdd" parameterType="com.entity.yyl.TdSchedule">
		insert into td_config(PosiId,DeptId,persoId,ScheduleName,ScheduleType,ScheduleState,Date_start,Date_end,monday,tuesday,wednesday,thursday,friday,saturday,sunday)
		values(#{posiId},#{deptId},#{persoId},#{scheduleName},#{scheduleType},#{scheduleState},#{dateStart},#{dateEnd},#{monday},#{tuesday},#{wednesday},#{thursday},#{friday},#{saturday},#{sunday})
	</insert>
    <update id="TdScheduleUpdate" parameterType="com.entity.yyl.TdSchedule">
		update td_config set PosiId=#{posiId},DeptId=#{deptId},persoId=#{persoId},ScheduleName=#{scheduleName},ScheduleType=#{scheduleType},ScheduleState=#{scheduleState},
		Date_start=#{dateStart},Date_end=#{dateEnd},monday=#{monday},tuesday=#{tuesday},wednesday=#{wednesday},thursday=#{thursday},
		friday=#{friday},saturday=#{saturday},sunday=#{sunday} where ScheduleId = #{scheduleId}
	</update>
    <delete id="TdScheduleDelete" parameterType="int">
		delete from td_config where ScheduleId = #{tc_id}
	</delete>
</mapper>
